<div class="container">
  <div class="section">
    <h4>Hi, I am Ricardo !</h4>
    <br>
    <h5>Thank you for reaching out !</h5>
    <p>I am a MBA, BA & BBA graduate with 7 years of experience in the multimedia industry. I spent my career working in Product Management, always with multicultural teams. I finished a full stack coding bootcamp at Le Wagon Tokyo in December 2018, and I am now looking for a new opportunity as Software Programmer.</p>
    <br>
    <p>I am always ready to embrace new challenges as:</p>
    <br>
    <p>- Frontend Developer (Junior level) - Using ERB, SCSS, JavaScript, Angular, and my next step is learning React</p>
    <p>- Full-stack Developer (Junior level) - Using Ruby, Rails, JavaScript.</p>
  </div>
  <div class="divider"></div>
</div>
